# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.5
  - 0.6
  - nightly
notifications:
  email: false
matrix:
  allow_failure:
    - julia: 0.6
    - julia: nightly
branches:
  only:
  - master
  - /release-.*/
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone("https://github.com/davidanthoff/IterableTables.jl.git")'
  - julia -e 'Pkg.clone(pwd()); Pkg.build("Query"); Pkg.test("Query"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Query")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Query")); include(joinpath("docs", "make.jl"))'
